.container {
    min-height: 100vh;
    background-color: #f6f6f6;
    padding: 40px 80px;
    padding-bottom: 120px;
}

/* Inputs */

.inputGroup {
    margin-top: 42px;
}

.inputGroup label {
    display: block;
    margin-bottom: 14px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #777;
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    padding-bottom: 12px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.inputGroup textarea {
    min-height: 80px;
}

.dateInput {
    cursor: pointer;
}

/* Image */

.imageBox {
    margin-top: 40px;
    height: 160px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    border-radius: 8px;
}

/* Button */

.saveBtn {
    width: 100%;
    margin-top: 40px;
    background-color: black;
    color: white;
    border: none;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
}

/* tablet */

@media (max-width: 1024px) {

    .container {
        padding: 32px 40px;
    }
}

/* mobile */

@media (max-width: 768px) {

    .container {
        padding: 20px;
        padding-bottom: 100px;
    }

    .saveBtn {
        padding: 16px;
    }
}