.container {
    min-height: 100vh;
    background-color: #f6f6f6;
    padding: 40px 80px;
    padding-bottom: 120px;
}

/* Month */

.monthSection {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthSection button {
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.monthSection p {
    font-size: 11px;
    letter-spacing: 2px;
    color: #777;
    text-align: center;
}

.monthSection h2 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

/* Breakdown */

.breakdownSection {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 24px;
}

.emptyState {
    margin-top: 40px;
    background-color: white;
    padding: 60px 20px;
    text-align: center;
    font-size: 18px;
    color: #777;
}

/* tablet */

@media (max-width: 1024px) {

    .container {
        padding: 32px 40px;
    }

    .breakdownSection {
        grid-template-columns: 1fr;
        gap: 18px;
    }
}

/* mobile */

@media (max-width: 768px) {

    .container {
        padding: 20px;
        padding-bottom: 100px;
    }

    .monthSection h2 {
        font-size: 20px;
    }

    .trendBox {
        overflow-x: auto;
        gap: 20px;
    }
}